@font-face {
  font-family: "온글잎류뚱체";
  src: url("/온글잎 류뚱체.ttf");
}

html,
body {
  margin: 0px;
  width: 100%;
  /* background-color: rgb(246, 246, 246); */
  background-color: rgb(39, 37, 37);
}

#root {
  background-color: white;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  max-height: 800px;
  height: 100vh;
  aspect-ratio: 1 / 1; /* 또는 height: width 와 같은 비율 유지 */
  box-shadow: rgba(100, 100, 100, 0.2) 0px 0px 20px 0px;
}

body * {
  font-family: "온글잎류뚱체";
}
