@font-face {
  font-family: "온글잎류뚱체";
  src: url("/온글잎 류뚱체.ttf");
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgb(39, 37, 37);
  overflow: auto;
  display: block;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 100px;
}

#root {
  width: 800px;
  height: 800px;
  background-color: white;
  box-shadow: 0 0 20px rgba(100, 100, 100, 0.2);
  flex-shrink: 0;
  display: block;
}

body * {
  font-family: "온글잎류뚱체";
}
